body{
    margin:0;
    font-family:Arial,sans-serif;
    background:#171a21;
    color:white;
}

header{
    background:#1b2838;
    text-align:center;
    padding:40px;
}

.hero{
    text-align:center;
    padding:60px 20px;
}

.btn{
    display:inline-block;
    margin-top:20px;
    background:#66c0f4;
    color:black;
    text-decoration:none;
    padding:12px 25px;
    border-radius:6px;
    font-weight:bold;
}

.socials{
    text-align:center;
    padding:40px;
}

.social-buttons{
    display:flex;
    justify-content:center;
    gap:15px;
    flex-wrap:wrap;
}

.social-buttons a{
    background:#1b2838;
    color:white;
    text-decoration:none;
    padding:12px 20px;
    border-radius:6px;
}

.form-section{
    max-width:700px;
    margin:auto;
    padding:40px 20px;
}

form{
    display:flex;
    flex-direction:column;
    gap:15px;
}

input,
textarea{
    padding:12px;
    border:none;
    border-radius:6px;
}

textarea{
    min-height:150px;
}

button{
    background:#66c0f4;
    border:none;
    padding:14px;
    font-weight:bold;
    cursor:pointer;
    border-radius:6px;
}